/* 
* @Author: Chenyu
* @Date:   2015-09-26 12:52:56
* @Last Modified by:   Chenyu
* @Last Modified time: 2015-10-03 11:54:12
*/

.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}

input, select {
	width: 400px;
	height: 100%;
	margin: 0;
}

label {
	float: left;
	width: 10em;
	font-size: 1.2em;
	margin-right: 1em;
	text-align: right;
}

svg {
	width: 25px;
	height: 25px;
}

rect {
	width: 20px;
	height: 20px;
	rx: 5px;
	ry: 5px;
}

rect.available {
	fill: #00FF99;
}

rect.unavailable {
	fill: #CC0000;
}

rect.booked {
	fill: #FFCC80;
}


/*different colors for different booking status of the chosen seat*/
rect.available:hover {
	fill: #33CC33;
}


rect.booked:hover {
	fill: #FF6300;
}

rect.unavailable:hover {
	fill: #800000;
}

#screen {
	width: 165px;
	height: 20px;
}

#screen_rect {
	height: 20px;
	fill: orange;
}
/* styling for the canvas*/
#booking_form{
    padding: 20px;
}

.buy_left_col{
    margin-right: 30px;
}
.buy_poster{
    padding-top: 20px;
}