/* 
* @Author: Chenyu
* @Date:   2015-09-13 18:35:48
* @Last Modified by:   Chenyu
* @Last Modified time: 2015-09-13 19:03:58
*/
.map {
	width: 20vw;
    height: 20vw;
    background-color: #CCC;
    margin: 2vw;
}

