<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
    	<script type="text/javascript" src="js/angular.min.js"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <div class="container" id="Tickets">
        <h2>Buy Tickets</h2>
        <form>
            <div class="form-group">
            <label for="movie">Movie:</label>
            <select class="form-control" ng-model="selected_movie">
                <option>Select your movie</option>
                <option>Movie 1</option>
                <option>Movie 2</option>
                <option>Movie 3</option>
                <option>Movie 4</option>
                <option>Movie 5</option>
            </select>   
            </div>
            
            <div class="form-group">
                <label for="showtime">Showtime:</label>
                <select class="form-control" ng-model="selected_time">
                    <option>Select your showtime</option>
                    <option>Time 1</option>
                    <option>Time 2</option>
                    <option>Time 3</option>
                    <option>Time 4</option>
                    <option>Time 5</option>
                </select>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="example@email.com" ng-model="email">
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="name" class="form-control" id="name" name="name" placeholder="Your name" ng-model="name">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form> 
    </div>
    	
    	<h2>Movie name: {{selected_movie}}</h2>
        <h2>Your time slot: {{selected_time}}</h2>
        <h2>Your email: {{email}}</h2>
        <h2>Your Name: {{name}}</h2>

    </body>
</html>

    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/logic.js"></script>